.dialog{
    position:fixed;
    z-index:88;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.6);
    .middle{
      position: absolute;
      left:50%;
      top: 50%;
      transform: translate3d(-50%,-50%,0);
      div{
        width:100%;
        position: absolute;
        bottom: 0;
        left:0;
        border-top: 1px solid #eee;
        display: flex;
        span{
          flex:1;
          height:.9rem;
          text-align: center;
          line-height: .9rem;
          &:nth-child(1){
            border-right: 1px solid #eee;
          }
        }
      }
    }
    .bottom{
      position: absolute;
      left:50%;
      bottom: 0;
      transform: translate3d(-50%,0,0);
      div{
        width:100%;
        position: absolute;
        bottom: 0;
        display:flex;
        flex-direction: column;
        span{
          text-align: center;
          padding-bottom: .2rem;
          &:nth-child(1){
            color:red;
          }
        }
      }
    }
    &>div{
      width:80%;
      height:3rem;
      background: #fff;
      border-radius: .2rem;
      h1{
        text-align: center;
        line-height: 4;
      }
      p{
        padding: 0 .4rem;
      }
    }
}
